/* CHARACTER COLORS */
#temp { 
  --main:102, 102, 102; 
  --alt:153, 153, 153;
  --unicode:'\bb2'; }

#boo { 
  --main:143, 179, 201;
  --alt:140, 106, 148;
  --unicode:'\bb4'; }

#colt { /* COLTON THILE */
  --main:162, 75, 107;
  --alt:117, 34, 76;
  --unicode:'\bb7'; }
#evrly { /* EVERLY TALMADGE */
  --main: 140, 182, 135;
  --alt: 88, 162, 168;
  --unicode:'\bb11'; }
#kirby { /* KIRBY BOONCHOY */
  --main:160, 170, 209;
  --alt:115, 114, 178;
  --unicode:'\bb12'; }
#lyonn { /* LYONNE DARLINGTON */
  --main:222, 159, 179;
  --alt:217, 95, 115;
  --unicode:'\bb8'; }
#mlchi { /* MALACHI FINCH */
  --main:110, 180, 169;
  --alt:95, 150, 154;
  --unicode:'\bb18'; }
#naomi { /* NAOMI NODIN */
  --main:159, 168, 205;
  --alt:137, 128, 179;
  --unicode:'\bb3'; }
#rylian { /* RYLIAN DANGER */
  --main:157, 94, 143;
  --alt:100, 66, 133; }
#sage { /* SAGE ROYAL */
  --main: 131, 91, 142;
  --alt: 78, 61, 114;
  --unicode:'\bb6'; }
#wnfrd { /* WINIFRED PEARL */
  --main:145, 193, 151;
  --alt:110, 176, 137;
  --unicode:'\bb9'; }
