/* CHARACTER COLORS */
#temp { 
  --main:102, 102, 102; 
  --alt:153, 153, 153;
  --unicode:'\bb2'; }

#boo {
  --main:133, 189, 186;
  --alt:230, 160, 97;
  --unicode:'\bb4'; }
#adrian {
  --main:149, 167, 225;
  --alt:119, 118, 196;
  --unicode:'\bb1'; }
#colton {
  --main:162, 75, 107;
  --alt:117, 34, 76;
  --unicode:'\bb7'; }
#everly {
  --main:220, 140, 115;
  --alt:147, 102, 157;
  --unicode:'\bb11'; }
#juliana {
  --main:168, 101, 117;
  --alt:124, 89, 143;
  --unicode:'\bb20'; }
#shense {
  --main:139, 159, 131;
  --alt:146, 114, 84;
  --unicode:'\bb3'; }
#winifred {
  --main:227, 146, 164;
  --alt:204, 86, 128;
  --unicode:'\bb9'; }



#colt { /* COLTON THILE */
  --main:162, 75, 107;
  --alt:117, 34, 76;
  --unicode:'\bb7'; }
#evrly { /* EVERLY TALMADGE */
  --main:220, 140, 115;
  --alt:147, 102, 157;
  --unicode:'\bb11'; }
#jlina { /* JULIANA ERICKSON */
  --main:200, 65, 85;
  --alt:124, 89, 143;
  --unicode:'\bb20'; }
#lyonn { /* LYONNE DARLINGTON */
  --main:222, 159, 179;
  --alt:217, 95, 115;
  --unicode:'\bb8'; }
#lyonne {
  --main:224, 185, 120;
  --alt:226, 129, 89;
  --unicode:'\bb8'; }
#wnfrd { /* WINIFRED BARLOW */
  --main:222,137,107;
  --alt:208,113,122;
  --unicode:'\bb9'; }
#oldevrly {
  --main:101, 177, 151;
  --alt:81, 135, 151;
}
#oldmlchi { /* MALACHI FINCH */
  --main:110, 180, 169;
  --alt:95, 150, 154;
  --unicode:'\bb18'; }
#olndr { /* RYLIAN DANGER */
  --main:157, 94, 143;
  --alt:100, 66, 133;
  --unicode:'\bb18'; }
#oldsage { /* SAGE ROYAL */
  --main: 131, 91, 142;
  --alt: 78, 61, 114;
  --unicode:'\bb6'; }
