/* CALCITE — plotter
coded & designed by BOO
ALL RIGHTS RESERVED 2019 - PRESENT */

#temp {--main:180, 180, 180; --alt:100, 100, 100;}


.calcite {
background:#fafafa;
border:1px solid #eee;
border-radius:10px;
color:#555;
font-family:'nunito', sans-serif;
font-size:14px;
height:400px; width:625px;
line-height:22px;
margin:35px auto;
overflow:hidden;
position:relative;
text-align:left;
}
.calcite hr {
background:#ddd;
border:0;
height:1px;
margin:10px 0px;padding:0px;
}
.calcite ul {
margin:3px 10px 5px;padding:0px;
}

.calcite-in {
 display:inline-block; /* or display:block */
}
.calcite-in input[type=radio] { display:none; }
.calcite-in label {
color:#4444;
font-size:10px;
font-weight:900!important;
margin-right:-4px;
display:block;
padding:15px 11.5px;
padding-left:15px;
position:relative;
text-transform:uppercase;
z-index:5;
}

[type=radio]:checked ~ label {
color:rgba(var(--alt), 0.85)!important;
z-index:5;
}

[type=radio]:checked ~ label:after {
background:rgba(var(--main), 0.2);
border-radius:100%;
content:'';
height:15px; width:15px;
position:absolute;
bottom:14px; right:6px;
z-index:2;
  }

.calcite-c {
display:flex;
  flex-flow: row nowrap;
  justify-content:flex-start;
  align-items:stretch;
opacity:0;
position:absolute;
  top:0px; bottom:0px;
  left:0px; right:0px;
transition:all ease-in-out 0.8s;
z-index:-1;
}

[type=radio]:checked ~ label ~ .calcite-c {
opacity:1;
transition:all ease-in-out 0.8s;
z-index: 1;
}
[type=radio]:checked ~ label ~ .calcite-c .calcite-r {
opacity:1.0;
transition:all ease-in-out 0.6s;
transform:translate(0); }

.calcite-l:before {
content:'';
background:rgba(var(--alt), 0.1);
border-radius:100%;
padding:65px;
position:absolute;
  bottom:15px; left:65px;
  z-index:1;
}
.calcite-l:after {
content:'';
background:rgba(var(--main), 0.15);
border-radius:100%;
padding:90px;
position:absolute;
  bottom:-75px; left:-45px;
  z-index:1;
}

.calcite-l { 
height:335px; max-height:335px; width:365px;
padding:20px 30px 45px;
position:relative;
text-align:justify;
z-index:3;
}
.calcite-l a:before {
background:rgb(var(--main));
border-top-left-radius:10px;
color:#fafafa;
padding:15px;
position:absolute!important;
  bottom:0px;right:0px;
}

.calcite-n {
color:rgba(var(--main), 0.75);
font-size:26px;
font-weight:900;
padding:15px 0px;
}
.calcite-f {
font-size:12px;
line-height:18px;
padding:0px 5px 5px;
position:relative;
  z-index:2;
}
.calcite-r {
background:
  -webkit-linear-gradient(rgba(var(--main), 1), rgba(var(--alt), 1));
position:relative;
transform:translate(250px, 0);
transition:all ease-in-out 0.6s;
z-index:3;
}
.calcite-i { /*thanks pan!*/
display:block;
height:400px; width:200px;
background-position:center bottom;
filter:grayscale(100%);
background-repeat:repeat!important;
opacity:0.6;
}

.calcite-l b { 
color:rgba(var(--main), 0.85);
font-weight:700; }

.calcite-l u { 
background:
  -webkit-linear-gradient(rgba(var(--main)), rgba(var(--alt)));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
border-bottom:2px solid #ddd;
text-shadow:none;
font-weight:700;
text-decoration:none;
text-shadow:none; }

.calcite-l i { 
background:
  -webkit-linear-gradient(rgba(var(--main)), rgba(var(--alt)));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
font-weight:700;
text-decoration:none;
text-shadow:none; }
