/* HELENITE — plotter
coded & designed by BOO
ALL RIGHTS RESERVED 2023 - PRESENT */


.helenite {
background:#fbfbfb;
border:1px solid #e5e5e5;
color:#444;
font-family:quicksand;
font-size:15px;
font-weight:400;
height:570px; width:670px;
line-height:18px;
margin:20px auto;
overflow:hidden;
padding:0px;
position:relative;
text-align:left; }

.helenite-wrap {
height:570px; width:670px;
position:relative; }

.helenite:before {
border:1px solid #ddd;
border-radius:80px;
content:'';
padding:5px;
height:26px; width:245px;
position:absolute;
  top:15px; right:15px;
z-index:5;
}

.helenite-tab { display:inline-block; }
.helenite-tab input[type=radio] { display:none; }
.helenite-tab label {
background:#eee;
border-radius:80px;
display:inline-block;
font-size:12px;
font-weight:700;
margin:20px 0px 0px;
padding:5px 10px;
position:relative;
  right:-405px;
text-align:center;
transition:all ease-in-out 0.4s;
z-index:15; }

input[type=radio]:checked ~ label {
background:#555;
color:#ddd;
padding:5px 20px;
transition:all ease-in-out 0.4s; }


.helenite-in {
background:transparent;
line-height:23.5px;
opacity:0;
padding:20px;
position:absolute;
  top:0px; bottom:0px;
  left:0px; right:0px;
transform:translateY(20px); transform:translateX(-100%);
transition: opacity 0.3s ease-in, transform 0.5s ease-in-out;
  transition-delay: 0.3s;
 z-index:0; }
input[type=radio]:checked ~ label ~ .helenite-in {
opacity:1;
transform:translateY(0px); transform:translateX(0%);
transition: opacity 0.2s ease-in, transform 0.5s ease-in-out;
z-index:2; }

.hlnt-icon {
aspect-ratio:1;
background:#444;
clip-path: polygon(100% 50%,3.02% 32.9%,88.3% 82.14%,25% 6.7%,58.68% 99.24%,58.68% 0.76%,25% 93.3%,88.3% 17.86%,3.02% 67.1%,100% 50%,3.02% 32.9%,88.3% 82.14%,25% 6.7%,58.68% 99.24%,58.68% 0.76%,25% 93.3%,88.3% 17.86%,3.02% 67.1%);
position:absolute;
  top:100px; right:10px;
width:220px;
}

.hlnt-hov {
background-position:right bottom;
background-repeat:no-repeat;
background-size:cover;
height:400px; width:350px;
position:absolute;
  bottom:15px; right:40px;
}
.hlnt-hov:after {
background-image:
  radial-gradient(70% 53% at 36% 76%, rgba(var(--alt),0.75) 0, #ddd2 100%),
  radial-gradient(18% 28% at 35% 87%, rgba(var(--alt),0.15) 7%, #ddd0 100%),
  radial-gradient(31% 43% at 7% 98%, #dddd 24%, #eee0 100%),
  radial-gradient(21% 37% at 72% 23%, rgba(var(--main),0.5) 24%, #ddd0 100%),
  radial-gradient(74% 86% at 67% 38%, rgba(var(--main),0.95) 24%, #ddd0 100%),
  linear-gradient(125deg, rgba(var(--alt),0.55) 1%, rgba(var(--alt),0.25) 100%);
border-radius: 125px 125px 20px 20px;
content:'';
height:310px; width:280px;
padding:5px;
position:absolute;
  bottom:-0px; right:-20px;
z-index:-1;
}

.hlnt-lnx a {
display:inline-block;
background:#555;
border-radius:80px;
color:#ddd;
font-size:12px;
font-weight:700;
line-height:18px;
padding:5px 20px;
position:relative;
  top:0px;
text-decoration:none;
}

.hlnt-nm {
background-image:linear-gradient(to bottom, 
  rgba(var(--main), 0.6) 45%,
  rgb(var(--alt)));
-webkit-background-clip:text;
-webkit-text-fill-color:transparent;
background-size:100%;
font-family:lobster two;
font-size:46px;
font-weight:700;
padding:35px 20px 15px;
}


.hlnt-blrb {
font-weight:500;
padding:0px 20px;
width:50%;
}
.hlnt-blrb b { 
color:rgba(var(--main),0.9);
font-weight:700; }
.hlnt-blrb u { 
border-bottom:2px solid rgba(var(--alt),0.35);
color:#666;
font-weight:600;
text-decoration:none; }
.hlnt-blrb i { 
opacity:0.8;
font-weight:500;
text-shadow:none; }
.hlnt-blrb a {
background:rgba(var(--main),0.35);
border-radius:5px;
color:#444;
display:inline-block;
font-weight:700;
margin-bottom:1px;
padding:0px 5px 1px;
text-decoration:none;
text-shadow: 
  -1px 0 rgba(var(--main),0.3),
  0 1px rgba(var(--main),0.3),
  1px 0 rgba(var(--main),0.3), 
  0 -1px rgba(var(--main),0.3); }

.hlnt-xtra {
background:#444;
border-radius:0px 20px 0px 0px;
color:#ddd;
font-size:14.5px;
line-height:20px;
padding:25px 20px;
max-height:80px; width:350px;
position:absolute;
  bottom:0px; left:20px;
}
.hlnt-xtra:before {
background:#444;
color:#bbb;
border-radius:20px 10px 0px 0px;
content:'WOULD LOVE';
font-size:12px;
font-weight:700;
padding:10px 20px;
position:absolute;
  top:-20px; left:0px;
text-shadow: 
  -1px 0 rgba(var(--main),0.3),
  0 1px rgba(var(--main),0.3),
  1px 0 rgba(var(--main),0.3), 
  0 -1px rgba(var(--main),0.3);
}
.hlnt-xtra:after {
background:#444;
clip-path: polygon(0 0, 0 100%, 100% 100%);
content:'';
font-size:12px;
font-weight:700;
height:25px;
padding:5px 20px;
position:absolute;
  top:-15px; left:117px;
}
.hlnt-xtra a {
background:rgba(var(--main),0.35);
border-radius:5px;
color:#eee;
display:inline-block;
margin-bottom:1px;
padding:0px 5px 1px;
text-decoration:none;
text-shadow: 
  -1px 0 #0004,
  0 1px #0004,
  1px 0 #0004, 
  0 -1px #0004; }
.hlnt-xtra b {
font-weight:600;
text-shadow: 
  -1px 0 rgba(var(--main),0.3),
  0 1px rgba(var(--main),0.3),
  1px 0 rgba(var(--main),0.3), 
  0 -1px rgba(var(--main),0.3); }
